*   {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}
html{
    margin: 0;
}
body {
    margin: 0px;
    background-color:  rgba(19, 18, 18, 0.705);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #e00862;
}
.backdrop {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.3);
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}
/*TYPOGRAPHY
**************************************/
.first-title {
    margin-top: .4em;
    margin-bottom: .4em;
    font-size: 6rem;
}
.first-title-text {
    margin-bottom: 2em;
    font-size: 2.8em;
}
.portfolio h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}
@media  (max-width: 50rem) {
    .first-title {
        font-size: 4rem;
        margin-top: .9em;
    }   
}
@media  (max-width: 50rem) {
    .first-title-text {
        font-size: 1.8rem;
    }   
}
/*BUTTONS
**************************************/
.button-portfolio {
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    border-radius: .2rem;
    color: #e00862;
    background-color: black;
    padding: 0 .5em;
    margin-bottom: 2em;
    bottom: 5em;
}
.button-portfolio:hover,
.button-portfolio:focus {
    color: black;
    background-color: #e00862;
}
.button-image {
     position: absolute;
     font-size: 1.4rem;
     text-decoration: none;
     text-transform: uppercase;
     border-width: 3px;
     border-style: solid;
     border-radius: .2rem;
     color: #e00862;
     background-color: black;
     padding: 0 .5em;
     bottom: .5em;
     left: 35%;
     right: 35%;
}
.button-image:hover,
.button-image:focus {
    color: black;
    background-color: #e00862;
}
.modalbtn {
    display: inline-block;
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    border-radius: .2rem;
    color: #e00862;
    border-color: #e00862;
    background-color: black;
    padding: 0 .5em;
    margin-bottom: .6em;
}
.modalbtn:hover,
.modalbtn:focus {
    color: black;
    background-color: #e00862;
    border-color: black;
    cursor: pointer;
}
.toggle-button {
    width: 3rem;
    position: absolute;
    border-radius: 1em;
    left: .4em;
    top: .4em;
    background: rgba(51, 50, 50, 0.123);
    border: #e00862 solid 1px;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
@media (min-width: 40rem) {
    .toggle-button {
    display: none;
    }
}
.toggle-button:focus {
    outline: none;
}
.toggle-button__bar {
    width: 100%;
    height: 0.3rem;
    background: #e00862;
    display: block;
    margin: 0.4rem 0;
}
/*HEADER
**************************************/
header {
    position: fixed;
    width: 100%;
    z-index: 200;
}
nav ul {
    text-align: right;
    margin: 0px;
    padding: 0px;
    background-color: #030303c5;
    position: relative;
}
nav li {
    display: inline-block;
    margin: .4em;
}
nav a {
   text-decoration: none;
   font-size: 1.1rem;
   text-transform: uppercase;
   color: #f53585;
   padding: .3em;
}
@media (max-width: 40rem) {
    .active {
        display: none;
    }
}
nav a:hover,
nav a:focus {
    color: hsl(335, 85%, 79%);

}
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    height: 100vh;
    margin: 0;
} 
.mobile-nav__items {
    width: 9em;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.mobile-nav__item {
    margin: 1rem 0;
}
  
.mobile-nav__item a {
    font-size: 1.4rem;
}
/*ONE
**************************************/
.one {
    background-image: url(../BIRXXX/images/bg.jpg);
    padding: 6em 0 13em 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*WHOIAM
**************************************/
.whoiam-text {
    font-size: 1.2rem;
    background-color: #232323;
    padding: 3em;
    outline: 2px solid #f53585;
    outline-offset: -2.3em;
    position: relative;
}
.whoiam-text h1 {
    position: absolute;
    margin: 0px;
    top: .6em;
    left: 50%;
    font-size: 1.8rem;
    transform: translateX(-50%);
    background-color: #232323;
    padding: 0 .3em;
}
@media (min-width: 60rem)  {
    h1 {
        font-size: 1.2rem;
    }
    .whoiam {
        background-image: 
        url(../BIRXXX/images/Kitchen\ 1.jpg);
        padding: 2em;
        padding-bottom: 10em;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        margin: 5em;
    }
    .whoiam-text {
       width: 65%;
       top: -12em;
       left: -5em;
       box-shadow: 0 0 3em 0 rgb(0,0,0, .45);
    }
}
@media (max-width: 40rem){
    .whoiam-text {
        width: 80%;
        left: 10%;
        right: 10%;
        top: -5em;
    }
}

.someofmywork {
    font-size: 3em;
}
@media (max-width: 40rem) {
    .someofmywork {
        font-size: 2em;
        padding-top: 3.6em;
    }
}
/*ABOUTME
**************************************/
.aboutme-container {
    position: relative;
    background-image: url(..//BIRXXX/images/aboutme.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
}
.aboutme-title {
    padding-top: 1.2em;
    font-size: 3.5em;
    margin: 0px;
    max-height: 3em;
}
.aboutme {
    position: absolute;
    width: 55%;
    min-width: 30em;
    left: 2em;
    bottom: -2.5em;
    font-size: 1.2rem;
    background-color: #232323;
    padding: 2.2em;
    outline: 2px solid #f53585;
    outline-offset: -1.6em;       
}
@media (max-width: 40rem) {
    .aboutme {
        width: 80%;
        min-width: 10em;
        font-size: 1.2rem;
        left: 10%; 
        right: 10%;
        bottom: -3.5em;
        outline-offset: -1.7em;        
    }
}
@media (max-width: 40rem) {
    .aboutme-title {
        font-size: 2em;
        margin-top: 0px;
        padding-top: .2em;
    }
}
@media (max-width: 40rem){
    .aboutme-container {
        top: 1em;
        padding-top: 0px;
        margin-top: 0;
        background-position: top;
        height: 80%; 
    }
}
/*PORTFOLIO******************************'
***********/
.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.portfolio-image {
    position: relative;
    margin: 0;
    overflow: hidden;
}
.porfolio-image__title {
    position: absolute;
    background-color: #03030379;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10em;
    margin: 0;    
}
.porfolio-image__title {
    transform: translateY(150%);
}
.portfolio-image:hover .porfolio-image__title {
    transform: translateY(0%);
}
.button-image {
    transform: translateY(150%);
}
.portfolio-image:hover .button-image {
    transform: translateY(0%);
}
@media (max-width: 60rem) {
.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 40rem) {
.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    }
}
/*FOOTER******************************'
***********/
footer {
    margin-bottom: 0;
    margin-top: 2em;
    background-color: #030303;
    list-style: none;  
}
footer li {
    display: inline-block;
    margin: 1em;
}
.links {   
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: hsl(336, 24%, 96%);
    padding: .4 .8em;
}
.links:hover,
.links:focus {
    color: #e00862;
}
/*MODAL******************************'
***********/
.modal {
    position: fixed;
    display: none;
    z-index: 1100;
    top: 35%;
    left: 35%;
    width: 30%;
    background-color: #030303d5;
    padding: 1rem;
    border: 1px solid #f53585;
    border-radius: 1em;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}
.modal__actions {
    text-align: center;
} 
.modal__action {
    border: 2px solid #e00862;
    background: #232323;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
}
.modal__action--negative {
    background: #e00862;
}
.modal__action--negative:hover,
.modal__action--negative:active {
    background:hsl(335, 85%, 79%);
}